.array-bar {
    margin: 0 1px;
    width: 15px;
    background-color: rgb(0, 0, 0)
}
.array-container{
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    /* align-items: center; */
}
.buttons{
    position:fixed;
    width:100%;
    bottom:10px;
    text-align:center;
}
body {
  background-color: rgb(241, 240, 237);
}
