*{
    font-family: "Bahnschrift";
}
.array-bar {
    margin: 0 1px;
    width: 50px;
    background-color: rgb(0, 0, 0);
    transition: height 0.1s ease, background-color 0.1s ease;
}
.array-container{
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: flex-end;
    height: 800px
}
.buttons{
    position:fixed;
    width:100%;
    top: 10px;
    text-align:center;
    /* border: none;
    outline: none;
    background: none; */
}
body {
  /* background-color: rgb(241, 240, 237); */
  background-color: rgb(12, 12, 12);
}

.sort_buttons{
    display: flex;
    gap: 40px;
    justify-content: center;
    font-size: 1.25rem;
    padding: 1rem 1.5rem;
    
}
.sort_buttons button{
    position: relative;
    border: 3px solid aliceblue;
    transition: 0.4s ease-out;
    outline: none;
    background: none;
    appearance: none;
    border-radius: 0.3rem;
    background-color: transparent;
    font-size: 2rem;
    /* font-weight: 200px; */
    color:aliceblue;
}
.sort_buttons button span{
    position: relative;
    z-index: 2;
}
.sort_buttons button::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    width: calc(100% + 2rem);
    height:  calc(100% + 2rem);
    border: 3px rgb(224, 230, 219);
    border-radius:0.5rem;
    opacity: 0;
    transition: 0.4s ease-out;
}
.sort_buttons button:hover{
    color:lawngreen;
    border-color: transparent;
}
.sort_buttons button:hover:after{
    width: 100%;
    height: 100%;
    opacity: 1;
    border-color:rgb(177, 69, 96);
}

.sort_buttons button.active,
.sort_buttons button.active:hover{
    color: lawngreen;
    border-color: lawngreen;
}
.run_buttons button{
    position: relative;
    border: 3px solid aliceblue;
    transition: 0.2s ease-out;
    outline: none;
    background-image: linear-gradient(to right, rgb(0, 0, 0) 50%, orange 50%);
    background-size: 200%;
    appearance: none;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-weight: 200;
    color:aliceblue;
}
.run_buttons{
    position: fixed;
    bottom: 30px;
    left: 0;
    width: 100%;
    gap: 30px;
    display: flex;
    justify-content: center;
}
.run_buttons button:hover{
    background-position: right;
    

}
.info_panel{
    position: relative;
    display: flex;
    gap: 40px;
    justify-content: center;
    font-size: 1.25rem;
    padding: 1rem 1.5rem;
    color:aliceblue;
    top: -730px
}
.run_time{
    position: relative;
    display: flex;
    gap: 40px;
    justify-content: center;
    font-size: 1.25rem;
    padding: 1rem 1.5rem;
    color:aliceblue;
    top: -730px
}